In [1]:
#The point of this script is to verify the correctness of a data file

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from mapping import Mapping

%load_ext version_information
%version_information numpy, pandas, matplotlib
%version_information
fig_prefix = "../figures/2018-07-22-jw-weaselball-starting_location_"
data_prefix = "../data/2018-07-22-jw-weaselball-starting_location_"

In [2]:
FLOAT_ERROR_TOLERANCE = 0.00000000001 #See IEEE 754 for why a floating point is never perfect
df_strings = ['../data/08-11-2018_17-59-32.csv']
frames = []
for csv in df_strings:
    temp = pd.read_csv(csv,index_col=False )
    frames.append(temp)
df = pd.concat(frames,ignore_index=True)
print(df.shape)
df = df.drop(columns=['Time'])
df = df.apply(pd.to_numeric)
df.head(10)

(9681114, 8)

   ID         X         Y      Yaw  ResetID  checkCorrectness  NumberOfWalls
0   0  0.000000  0.000000  0.00000        1                 0              0
1   0 -0.466000 -0.279600 -2.29649        2                 1              0
2   0 -0.466001 -0.279601 -2.29649        2                 1              0
3   0 -0.466001 -0.279601 -2.29649        2                 1              0
4   0 -0.466001 -0.279601 -2.29649        2                 1              0
5   0 -0.466001 -0.279601 -2.29649        2                 1              0
6   0 -0.466001 -0.279601 -2.29649        2                 1              0
7   0 -0.466001 -0.279601 -2.29649        2                 1              0
8   0 -0.466001 -0.279601 -2.29649        2                 1              0
9   0 -0.466001 -0.279601 -2.29649        2                 1              0

In [3]:
df.tail(10)

,ID,X,Y,Yaw,ResetID,checkCorrectness,NumberOfWalls
9681104,0,-0.440328,0.459315,1.32692,18,1,0
9681105,0,-0.440350,0.459122,1.32673,18,1,0
9681106,0,-0.440371,0.458931,1.32655,18,1,0
9681107,0,-0.440389,0.458742,1.32636,18,1,0
9681108,0,-0.440415,0.458551,1.32617,18,1,0
9681109,0,-0.440439,0.458363,1.32597,18,1,0
9681110,0,-0.440466,0.458172,1.32578,18,1,0
9681111,0,-0.440492,0.457983,1.32559,18,1,0
9681112,0,-0.440525,0.457790,1.32541,18,1,0
9681113,0,-0.440561,0.457598,1.32521,18,1,0

In [4]:
#Verify that the balls hit the wall at least once
walls_column = df['NumberOfWalls']
walls = {}
for i in walls_column:
    if i in walls:
        walls[i] += 1
    else:
        walls[i] = 1
walls

{0: 9379029, 1: 300457, 2: 1628}